/* Table Rows */
table.narrow {
    width: 300px;
}

tr  {
    background: #FFA;
}

tr.done  {
    text-decoration: line-through;
    color: gray;
}

tr.prio_high  {
    background: #FAA;
}

tr.prio_low  {
    background: #AFA;
}

/* Table Fields */

table.narrow th {
    width: 100px;
}

td, th {
    padding: 1em;
}

/* Buttons & Forms */

input[type=text] {
    padding: 5px;
    border: 2px solid #FA6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color: #333;
}

.button, input[type=submit] {
    display: inline-block;
    padding-top: 0px;
    width: 4em;
    height: 1.5em;
    background: #FA6;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.button:hover, input[type=submit]:hover {
    color: #FFA;
    text-decoration: none;
}

td form {
    display: inline-block;
}

/* Align Attributes */

.right {
    float: right;
}

.center {
    text-align: center;
}
